.area_login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.fundo_login{
    background-color: darkblue;
    width: 355px;
    height: 320px;
    padding: 35px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 5%;
}


.fundo_login img{
    width: 80px;
    height: auto;
    
    

}

.fundo_login form{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.fundo_login label{
    margin-top: 15px;
} 


.fundo_login input{
    margin-top: 10px;
    background-color: #1654a4;
    height: 5.8mm;
    border: none;
    outline: none;
    border-radius: 2%;
    color: white;
    padding-left: 5px;
}

button{
    margin-top: 20px;
    height: 8mm;
    border-radius: 2%;
}

button:hover{
    background-color: aqua;
}

input::placeholder{
    color: beige;
    

}

.navegador{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.link1{
    
    font-weight: 600;
    text-decoration: none;
    color:  #100540;
    
}
.link2{
    
    font-weight: 600;
    text-decoration: none;
    color:  #100540;

}
.link3{
    
    font-weight: 600;
    text-decoration: none;
    color:  #100540;

}

.link1:hover{
    background-color: rgb(255, 173, 21);
    border-radius: 10%;

}
.link2:hover{
    background-color: rgb(255, 173, 21);
    border-radius: 10%;
}
.link3:hover{
    background-color: rgb(255, 173, 21);
    border-radius: 10%;
}

.tema{
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    color: white;
    font-size: 10pt;

}

.painel{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: none;

}

.perfil{
    
    color: rgb(255, 173, 21);
    
}

.imagem{
    border-radius: 10%;
    border-color: white;
    border-style: solid;
}

.info{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 40px;
}
.disciplinas_atuais{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: none;
    color: white;

}

.p1{
color: rgb(255, 173, 21);

}

.disciplinas_obrigatorias{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin-top: 35px;


}

.integral{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
    
}

.p2{
    color: rgb(255, 173, 21); 
    padding-top: 0px;
}

.pendentes{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p4{
    color: rgb(255, 173, 21); 

}

.rodape{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 35px;

}

.barra{
    background-color: orange;
}